body {}

.container {
    width: 900px;
    margin: 0 auto;
}

.head-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-name {
    font-size: 20px;
    font-weight: 700;
}

.head-manu a {
    text-decoration: none;
    margin: 10px;
    font-size: 18px;
}

.fa-solid {
    margin: 5px;
}